html {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: var(--font-sans), system-ui, sans-serif;
}

code, pre, kbd, samp {
  font-family: var(--font-mono), monospace;
}
